body {
    background-color: black;
    text-align: center;
}

h1, h2 , a, a:visited {
    color: #ff6900;
    text-decoration: none;
}

p {
    color: #ffffff
}

figcaption, a, a:visited {
    font-style: italic;
    color: #929292;
}

footer {
    color: #ff6900;
}