body {
  color: white;
  background-color: lightblue;
}

header {
  text-align: center;
}

p {
  font-family: "Poly", serif;
}

ul, ol {
  font-family: "Poly", serif;
  list-style-position: inside;
  display: table;
  margin: 0 auto;
  text-align: left;
  max-width: 425px;
}

a {
  color: #00b4d8;
  font-family: "Roboto", serif;
}

a:hover {
  color: #0077b6
}

h2, h1, .greetings-container {
  text-align: center;
  font-family: "Poly", serif;
}

footer {
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

figcaption {
  text-align: center;
  color:#0077b6
} 

.contract-container {
  display: table;
  margin: 0 auto;
  text-align: left;
  max-width: 500px;
}

.validation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

